body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: #1B244A;
}

h3 {
    text-align: center;
    font-weight: 900;
    font-size: 4.7rem;
    color: White;
    padding: 10px;
}

p {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 10rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    margin: 10px auto;
    color: #F94F6D;
    background-color: black;
}

.increment-div {
    display: flex;
    margin-top: 50px;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.increment-div span {
    font-size: 2rem;
    color: #97aadd;
    margin: 0px 10px;
    border: 3px solid #97aadd;
    border-radius: 10px;
    padding: 15px;
    
}


.container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

#new-game-div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#new-game-div h1 {
    border: 3px solid #97aadd;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #97aadd;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

span:hover, h1:hover {
    cursor: pointer;
}
